---
layout: default
members:
- name: Barb Waite
  position: Founder
  avatar:  /images/barbWaite.png
  avatar_hover: images/@stock/member-1-c.jpg
  socials:
  - name: facebook
    url: https://www.facebook.com/barbara.waite.14
  - name: linkedin
    url: https://www.linkedin.com/in/barb-waite-4a4737129/

---


<div class="full light-grey centered-text tree">
    <div class="four spacing"></div>
    <div class="section-title">
      <div class="row">
        <div class="medium-10 medium-centered columns">
          <h1 class="wow slideInUp">A Story to Tell</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 medium-centered columns">
        <div class="header-quote">
          <p>A Difference to Make.</p>
        </div>
      </div>
    </div>
    <div class="two spacing"></div>
  </div>
  <div class="full">
    <div class="section-title">
      <div class="row">
        <div class="medium-10 medium-centered columns">
          <h2>A Difference Maker, A Caregiver</h2>
          <p>Driven by her faith and empowered by her love of people, Barb knows firsthand of the hardships health issues put on patients and the ones they love. She also knows that having the support you need makes all the difference. Marybeth’s Cottage will be the hands and hearts that ease the mental, physical, spiritual, and emotional stress these people are experiencing. We WILL make tomorrow better than today for our guest!</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% for member in page.members %}
        <div class="large-12 columns">
          <div class="member">
            <img src="images/Barb-Stool.png" alt="">
            <img class="colored" src="images/Barb-Stool.png" alt="">
            <div class="member-info">
              <h4>{{member.name}}</h4>
              <p class="position">{{member.position}}</p>
              <ul class="socials">
                {% for social in member.socials %}
                  <li><a href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="full light-grey">
    <div class="section-title">
      <div class="row">
        <div class="large-5 columns"> 
          <img src=" /images/together.png" />
          <p style="font-size: .9em">Barb &amp; Marybeth Waite - 2010</p>
        </div>
        <div class="large-7 columns">
          <p><span style="font-size: 1.5em; color: black;"><strong> An exception</strong></span> to most every rule, this treasure of a soul experienced more hurdles and hardships in her short 24 years than those who live well into their twilight years. Although appearing to have the perverbile deck stacked against her she passionately, bravely, and lovingly made a difference...</p>
        </div>    
      </div>
    </div>
  </div>