--- 
layout: default 

services:
- title: Six Dimensions to Patient-Centred Care
  desc: -Compassion, empathy and responsiveness to needs, values and expressed preferences <br /> -Coordination and integration <br /> -Information, communication and education <br /> -Physical comfort <br /> -Emotional support, relieving fear and anxiety <br /> -Involvement of family and friends
  image:  /images/graphs/CGHGraph.jpg
  image_position: left
  link: https://www.ahsw.org.uk/userfiles/Other_Resources/Health__Social_Care_Wellbeing/psychologicalsocialneedsofpatients_tcm41-202964_copy.pdf
- title: Patient support = Better outcomes
  desc: The idea is that patients fare better when their families are more engaged in the care of their loved ones during the scary and stressful period when lives hang in the balance, said Dr. Giora Netzer, a critical care specialist at University of Maryland Medical Center.
  image:  /images/graphs/CGMGraph.jpg
  image_position: right
  link: https://www.baltimoresun.com/health/bs-hs-icu-guidelines-20170130-story.html
- title: A Good Night's Rest
  desc: <i>The caregiver’s job is important, but so is her own physical and emotional health. caregivers need to be sure to take time off – go home, get a good night’s sleep, and take care of their own life too.</i> <br /><br />Vance Esler, M.D Hematologist, Texas Oncology
  image:  /images/graphs/CGSGraph.jpg
  image_position: left
  link: https://www.texasoncology.com/getattachment/d514e582-d497-4404-af0d-577279fe1a77/Caregivers?disposition=attachment
- title: Peer to peer support
  desc: <i>Sometimes, I can’t talk to anyone about how I feel. I don’t want to burden them or take away the hope of my loved one. No one understands what this is really like unless they’ve been through it.</i>
  image:  /images/graphs/HOPGraph.jpg
  image_position: right
  link: https://www.mdanderson.org/documents/education-training/icare/caregiverbooklet.pdf

principles:
- title: Readmission of Patients
  desc: Critical to patient and family centered care is ensuring patients have the tools they need to recover at home and avoid the need to return to the hospital.   
  icon: icon-basic-heart
  link: http://circheartfailure.ahajournals.org/content/11/4/e004310
- title: Psychological Impact on Health
  desc: Humans are social beings who need that sense of belonging and without it, there is a tendency to become depressed...
  icon: icon-basic-flag2
  link: https://www.rcpsych.ac.uk/quality/qualityandaccreditation/liaisonpsychiatry/plan/nohealthwithout/patientsandcarers/thepsychologicalimpact.aspx
- title: Importance of Family
  desc: The  importance of families in the healing process is becoming more widely recognized around the world, with research showing their presence can be an effective tool for improving patient outcomes...
  icon: icon-basic-home
  link: https://www.burke.org/blog/2014/11/caring-for-the-caregiver-the-important-role-of-family-in-rehabilitation/23
---

<div class="full centered-text light-cyan lamp">
  <div class="four spacing"></div>
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h1 class="wow slideInUp">Our Research</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 medium-centered columns">
      <div class="header-quote">
        <p>Research indicates a well-rested and supported caregiver improves patient outcomes.
        </p>
      </div>
    </div>
  </div>
  <div class="two spacing"></div>
</div>
<div class="four spacing"></div>
<div class="two spacing"></div>
{% for service in page.services %}
  <div class="full no-padding">
    <div class="row">
      {% if service.image_position == 'left' %}
        <div class="medium-6 columns">
          <img src="{{site.url}}/{{service.image}}" alt="">
        </div>
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.title}}</h2>
            <p>{{service.desc}}</p>
            <div class="two spacing"></div>
            <a href="{{service.link}}" class="button boxed brown">Case study</a>
          </div>
        </div>
      {% else %}
        <div class="medium-6 columns">
          <div class="service-info right-text">
            <h2>{{service.title}}</h2>
            <p>{{service.desc}}</p>
            <div class="two spacing"></div>
            <a href="{{service.link}}" class="button boxed brown">Case study</a>
          </div>
        </div>
        <div class="medium-6 columns">
          <img src="{{site.url}}/{{service.image}}" alt="">
        </div>
      {% endif %}
    </div>
    
    <div class="two spacing"></div>
  </div>
{% endfor %}

<div class="full light-grey centered-text">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>Studies</h2>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for principle in page.principles %}
      <div class="large-4 columns">
        <div class="principle">
          <i class="{{principle.icon}}"></i>
          <h4>{{principle.title}}</h4>
          <p>{{principle.desc}}</p>
          <a href="{{principle.link}}">Read More</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full centered-text">
  <div class="two spacing"></div>
  <div class="row">
    <div class="large-12 columns">
      <h2>Looking for Patient Centered Accommodations?</h2>
      <div class="two spacing"></div>
      <a href="{{site.url}}/contact.html" class="button brown boxed">Contact Us</a>
    </div>
  </div>
  <div class="two spacing"></div>
</div>