<div class='contain-to-grid sticky transparent'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class="">
        <h1>
          <a href='/MBCottage/index.html'>
            <div style="margin-top: 12px; background-color: rgba(0, 0, 0, .8); border-radius: 10px; box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);">
            <img width="150px;" style="padding:10px" src="/MBCottage/images/MB_white.png" />
            </div>  
          </a>
        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="icon-arrows-hamburger-2"></i>
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right' style="background-color: rgba(0, 0, 0, .8); margin-top: 15px; margin-right: 3%; border-radius: 10px; max-height: 50px; box-shadow: 0px 2px 2px rgba(0, 0, 0, .5)">
        <li><a class="li-main" href="/MBCottage/index.html" style="color:white; margin-top: -20px;" > <strong>Home</strong></a></li>
        <li><a href="/MBCottage/thecottage.html" style="color:white; margin-top: -20px;"><strong>The Cottage</strong></a></li>
        <li><a href="/MBCottage/research.html" style="color: white; margin-top: -20px;"><strong>Research</strong></a></li>
        <li><a href="/MBCottage/ourstory.html" style="color: white; margin-top: -20px;"><strong>Our Story</strong></a></li>
        <li><a href="#" style="color: white; margin-top: -20px;"><strong>Support Us</strong></a></li>
      </ul>
    </section>
  </nav>
</div>