<div class='contain-to-grid sticky transparent'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class="">
        <h1>
          <a href=' /index.html'>
            <div class="navBackground1">
            <img width="150px;" style="padding:10px" src=" /images/MB_white.png" />
            </div>  
          </a>
        </h1>
      </li>
    </ul>
    <div id="menu-toggler" class="right">
      <a href='#'>
        <i class="icon-arrows-hamburger-2"></i>
      </a>
    </div>
    <section class='top-bar-section closed'>
      <ul class='right navBackground' style="margin-top: 15px; margin-right: 3%;" >
        <li><a class="li-main" href=" /index.html" style="color:white; margin-top: -20px;" > <strong>Home</strong></a></li>
        <li><a href=" /thecottage.html" style="color:white; margin-top: -20px;"><strong>The Cottage</strong></a></li>
        <li><a href=" /research.html" style="color: white; margin-top: -20px;"><strong>Research</strong></a></li>
        <li><a href=" /ourstory.html" style="color: white; margin-top: -20px;"><strong>Our Story</strong></a></li>
        <li><a href="/contact.html" style="color: white; margin-top: -20px;"><strong>Get in Touch</strong></a></li>
      </ul>
    </section>
  </nav>
</div>